<div>
	<div>
		<div class="btn-group btn-group-justified" role="group" ng-init="itemTemplate = 'list'">
			<div class="btn-group" role="group">
				<button type="button"
					class="btn btn-default"
					ng-click="itemTemplate = 'list'"
					ng-class="{active: itemTemplate === 'list'}">
						<i class="glyphicon glyphicon-th-list"></i>
				</button>
				
				<button type="button"
					class="btn btn-default"
					ng-click="itemTemplate = 'cards'"
					ng-class="{active: itemTemplate === 'card'}">
						<i class="glyphicon glyphicon-th"></i>
				</button>
			</div>
		</div>
	</div>

	<ng-include src="'/modules/users/views/_' + itemTemplate + '.html'"></ng-include>

	<div ng-hide="users.length">Крутилка.gif</div>
</div>